@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h3>Stylist Information:</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name,
new {required="required"})

  <input type="submit" value="Submit Stylist" class="btn btn-dark btn-lg"/>
}
<p>@Html.ActionLink("Return to Stylists", "Index")</p>
<p>@Html.ActionLink("Return to Homepage", "Index", "Home")</p>